<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <title>#{msgs.insecuredWelcome}</title>
        <h:outputStylesheet library="css" name="styles.css" />
    </h:head>
    <h:body>
        <h:form>
            <h1>#{msgs.welcome}</h1>
            <br />
            <h:outputText value="#{msgs.info}" />
            <br />
<!--            <h:commandLink action="#{navigationBean.redirectToWelcome}"
                           value="#{msgs.securedWelcome}" />-->
            <h:commandLink action="redirectToWelcome"
                           value="Secured Welcome page" />
        </h:form>
    </h:body>
</html>