<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <title>#{msgs.loginForm}</title>
        <h:outputStylesheet library="css" name="styles.css" />
    </h:head>
    <h:body>
        <h1>#{msgs.loginHere}</h1>
        <h:form id="login-form">
            <h:panelGrid columns="2">
                <h:outputLabel for="username" value="#{msgs.name}" />
                <h:inputText value="#{loginBean.username}" id="username" />
                <h:outputLabel for="password" value="#{msgs.password}" />
                <h:inputSecret value="#{loginBean.password}" id="password" />
                <h:commandButton id="button" value="#{msgs.login}"
                                 action="#{loginBean.doLogin}" />
    <!--            <h:commandLink action="#{navigationBean.redirectToInfo}"
                                                value="#{msgs.info}" />-->
                <h:commandLink id="clink" action="redirectToInfo"
                               value="#{msgs.info}" />
            </h:panelGrid>
            <h:messages />
        </h:form>
    </h:body>
</html>